<h2>Top Teams for Crime</h2>

<div class="crimes-header w40 float-left col1">Category</div>
<div class="crimes-header w60 float-left col2">Arrest count</div>
<ul class="crimes-list-ul clear-both">
    <li *ngFor="let crimeTeams of crimesForTeams" class="crimes-item cl-12 pad10">
        <div class="crimes-content w25 col1 float-left">{{crimeTeams.Team}}</div>
        <div class="crimes-content w25 col2 float-left">{{crimeTeams.Team_name}}</div>
        <div class="crimes-content w25 col1 float-left">{{crimeTeams.Team_city}}</div>
        <div class="crimes-content w25 col2 float-left">{{crimeTeams.arrest_count}}</div>
        <div class=" clear-both"></div>
    </li>
</ul>
