<h2>Top Crimes</h2>

<div class="w100">
    <label>Select a category </label>
    <select [ngModel]="selectedCategory" (ngModelChange)="onChangeCat($event)" name="sel3">
        <option>All</option>
        <option [ngValue]="i" *ngFor="let i of crimes">{{i.Category}}</option>
    </select>
    <!-- {{selectedCategory.Category | json}} -->
</div>

<div class="crimes-header w40 float-left col1">Category</div>
<div class="crimes-header w60 float-left col2">Arrest count</div>

<ul class="crimes-list-ul clear-both">
   <li *ngFor="let topcrimes of crimes" class="crimes-item cl-12 pad10">
    <div *ngIf="( topcrimes.Category == selectedCategory.Category && selectedCategory.Category != 'All')">
        <div class="crimes-content w40 col1 float-left">{{topcrimes.Category}}</div>
        <div class="crimes-content w60 col2 float-left">{{topcrimes.arrest_count}}</div>
        <div class="clear-both"></div>
    </div>

    <div *ngIf="( selectedCategory.Category === All)">
            <div class="crimes-content w40 col1 float-left">{{topcrimes.Category}}</div>
            <div class="crimes-content w60 col2 float-left">{{topcrimes.arrest_count}}</div>
            <div class="clear-both"></div>
        </div>

    </li>
</ul>